* {
    padding: 0;
    margin: 0;
}

header {
    background: transparent linear-gradient(181deg, #6C00AF 0%, #000000 90%) 0% 0% no-repeat padding-box;

}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #000000;
}



.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 120px;
    padding: 30px 0;
    text-align: justify;
}

.menu .imagen {
    width: 50%;
}

.menu .imagen img {
    width: 250px;
    float: left;

}

.menu .menu-nav a {
    text-decoration: none;
    color: #ffff;
    padding: 0 22px;
    width: 50%;
}

.video-info {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    margin: 30px 120px 0px 120px;
}

.video-info .info {
    width: 45%;
}

.video-info .info h1 {
    width: 100%;
    font-size: 68px;
    font-weight: 700;
    margin-bottom: 15px;
}

.video-info .info p {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5px;
}

.video-info .info h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.video-info .info h4 {
    font-size: 17px;
    font-weight: 300;
    margin: 30px 0 5px 0;

}

.video-info .info .btn-a {
    width: 200px;
    margin-top: 20px;
    text-align: center;
    padding: 15px 30px;
    border-radius: 9px;

    background: transparent linear-gradient(75deg, #FF842B 0%, #FFAA0A 100%) 0% 0% no-repeat padding-box;
}

.video-info .info .btn-a a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.video-info .video-principal {
    width: 600px;
    height: 420px;
    background: #636363;
    box-shadow: 5px 3px 20px #000000;
    border-radius: 5px;

}

.carrusel-video {
    background: #000000;
    color: #fff;


}

.carrusel-video .contenedor-carrusel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 120px;
    padding: 80px 0;
}

.carrusel-video .contenedor-carrusel .titulo {
    width: 100%;
    margin-bottom: 50px;


}

.carrusel-video .contenedor-carrusel .titulo h2 {
    width: 100%;
    text-align: center;
    font-size: 55px;
}

.carrusel-video .contenedor-carrusel .carrusel h3 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;

}

.carrusel-video .contenedor-carrusel .carrusel .video {
    width: 340px;
    height: 245px;
    background: #636363;
    border-radius: 5px;
}

.carrusel-video .contenedor-carrusel .titulo-dos {
    width: 100%;
    padding-top: 60px;
    position: relative;
    top: 80px;

}

.carrusel-video .contenedor-carrusel .titulo-dos h3 {
    font-size: 55px;
    text-align: center;
}

/*Seccion de paquetes*/

.servicioSec{
  
    background-color: #000000;
}

.cajaProducto{
    padding-top: 50px;
    padding-bottom: 100px;
	
}

.producto{
	width: auto;
	height: 250px;
	background: linear-gradient(359deg, #A78122,#F7DD68);
	border-radius: 20px;
	padding-right: 10px;
}
.textoProducto{
	margin-top: 30px;
}

.tituloProducto2{
	width: 470px;
	text-align: center;
	
}

.producto h2{

	text-align: center;
	font: normal normal bold 50px/24px Fira Sans;
	letter-spacing: 3.5px;
	color: #47056F;
	text-transform: uppercase;
	opacity: 1;
}
.producto h3{
	text-align: center;
	font: normal normal normal 26px/40px Fira Sans;
	letter-spacing: 0px;
	color: #47056F;
	opacity: 1;
}
.producto p{
	text-align: left;
	font: normal normal normal 26px/40px Fira Sans;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	margin-bottom: -20px;
}
.producto h4{
	text-align: center;
	font: normal normal bold 50px/88px Fira Sans;
	letter-spacing: -0.83px;
	color: #FFFFFF;
	opacity: 1;
}

.producto button{
	font-weight: bold;
	font-size: 20px;
	width: 196px;
	height: 55px;	
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 20px #000000B5;
	opacity: 1;
	border-radius: 10px;	
}
.btnProducto:hover{
	transform: scale(1.1);
}

/*seccion de formulario*/
.titulo{
    color: #272343;
    text-align: center;
    font-size: 20px;
}

.formContact{
    width: 40%;
    margin: auto;
	margin-top: 80px;
    display: flex;
    flex-direction: column;
        
}

.contInput{
    display: flex;
    flex-direction: column;
    margin-top:30px;

}
.contInput>label{
    margin-bottom: 5px;
    color: #ffffff;
}
.contInput>input{
    border: none;
    padding: 10px 15px;
    background-color: rgb(70, 63, 105);
    border-radius: 10px;
    color: white;
}
.contInput>input:focus{
    
    box-shadow: 0 0 50px rgb(141, 140, 140);
}

.btnEnviar{
	margin-top: 40px;
	margin-bottom: 100px;
    align-self: center;
    border:none;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgb(103, 103, 218);
    font-size: 20px;
    color: white;
    cursor: pointer;
    background-color:rgb(70, 63, 105) ;
}
.btnEnviar:hover{
    transform: scale(1.1);
}

.mensajeAlert{
    color: red;
    margin-top: 5px;
}
.inputTyC{
    flex-direction: row;
    align-items: center;
}
.inputTyC > label {
    order: 2;
    margin-left: 50px;
}
.bgcAlert{
    background-color: rgb(240, 87, 87) !important;
}
