* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #272833;
	background-image: url("../img/Seccion-uno.jpg");
	background-position: center center;
	background-size: cover;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
	min-height: 100vh;
	position: relative;
	text-align: center;
	z-index: 21;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #000000;
}



.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 120px;
    padding: 30px 0;
    text-align: justify;
}

.imagen {
    width: 50%;
}

.imagen img {
    width: 250px;
    float: left;

}

.menu-nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0 22px;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}

.video-info {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    margin: 30px 120px 0px 120px;
  

}

.info {
    width: 45%;
}

.info h2 {
    width: 100%;
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 15px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-60)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-fira-sans);
    letter-spacing: var(--unnamed-character-spacing--1);
    color: var(--unnamed-color-0c1238);
    text-align: left;
    font: normal normal bold 60px/50px Fira Sans;
    letter-spacing: -1px;
    color: #0C1238;
    opacity: 1;

}

.info h3 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 40px/var(--unnamed-line-spacing-50) var(--unnamed-font-family-fira-sans);
    text-align: left;
    font: normal normal bold 40px/50px Fira Sans;
    letter-spacing: -0.67px;
    color: #006296;
    opacity: 1;
}

.info p {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-fira-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 20px/28px Fira Sans;
    letter-spacing: 0px;
    color: #006296;
}

.info h4 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/35px var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 20px/35px Helvetica Neue;
    letter-spacing: 0px;
    color: #006296;
    opacity: 1;
    margin-bottom: -10px;

}

.info h5{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-helvetica-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #006296;
    opacity: 1;
}
.info img{
    text-align: left;
}
.ubiBoton1{
    text-align: left;
}

.botonInicio {
    width: 196px;
    height: 55px;
    margin-top: 20px;
    text-align: left; 
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    padding: 15px 30px;
    border-radius: 9px;
    background: transparent linear-gradient(254deg, #0800D3 0%, #0800D3 31%, #04006A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #00000029;
    opacity: 1;
    
}
.botonInicio:hover{
    transform: scale(1.1);
}


.video-principal {
    width: 600px;
    height: 420px;
    background-color:#04006A;
    box-shadow: 5px 3px 20px #000000;
    border-radius: 5px;
}

.videoRedes {
    width: 340px;
    height: 245px;
    background-color:#04006A;
    border-radius: 5px;
}

.videoInformativo{
    height:100%;
    width:100%;
    position:relative;
}
.videoInformativo video{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}


.carrusel-video {
    background-color: #272833;
	background-image: url("../img/seccion-dos.jpg");
	background-position: center center;
	background-size: cover;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
	min-height: 100vh;
	position: relative;
	text-align: center;
    z-index: 21;
}

.contenedor-carrusel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 120px;
    padding: 80px 0;
}

.tituloVideos {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.tituloVideos h2 {
    width: 100%;
    text-align: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 55px/69px var(--unnamed-font-family-fira-sans);
    font: normal normal bold 55px/69px Fira Sans;
    letter-spacing: -0.92px;
    color: #FFFFFF;
    opacity: 1;
}
.parrafoVideos{
    width: 70%;
}
.parrafoVideos h3 {
    margin-top: 10px;
    font: var(--unnamed-font-style-normal) normal medium 25px/var(--unnamed-line-spacing-28) var(--unnamed-font-family-fira-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal medium 30px/32px Fira Sans;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.carrusel h3 {
    text-align: center;
    margin-bottom: 10px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 30px/var(--unnamed-line-spacing-50) var(--unnamed-font-family-fira-sans);
    font: normal normal normal 30px/50px Fira Sans;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    opacity: 1;

}



.tituloServicio {
    width: 100%;
    position: relative;
    top: 50px;
    
}

.tituloServicio h3 { 
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 50px/35px var(--unnamed-font-family-fira-sans);
    text-align: center;
    font: normal normal bold 50px/35px Fira Sans;
    letter-spacing: -0.83px;
    color: #04006A;
    opacity: 1;
}
.tituloServicio h4 {
    width: 40%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/30px var(--unnamed-font-family-fira-sans);
    text-align: center;
    font: normal normal normal 20px/30px Fira Sans;
    letter-spacing: -0.33px;
    color: #006296;
    opacity: 1;
    margin-bottom: 40px;
}


/*Seccion de paquetes*/

.tituloServicio2{
    width: 60%;
    padding-bottom: 20px;
}
.tituloServicio2 h3{
    font: var(--unnamed-font-style-normal) normal medium 25px/var(--unnamed-line-spacing-28) var(--unnamed-font-family-fira-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font-size: 20px;font-weight: bold;
    letter-spacing: 0px;
    color: #006296;
    opacity: 1;
}

.seccionServicio{
    background-color: #272833;
	background-image: url("../img/seccionTres.jpg");
	background-position: center;
	background-size: cover;
	min-height: 20vh;
	position: relative;
	text-align: center;
	z-index: 21;
}

.cajaProducto{
    padding-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.producto{
	width: auto;
	height: 250px;
	background: linear-gradient(359deg, #F2BF18,#FF8C19);
	border-radius: 20px;
	padding-right: 10px;
}
.producto h2{

	text-align: center;
	font: normal normal bold 50px/24px Fira Sans;
	letter-spacing: 3.5px;
	color: #47056F;
	text-transform: uppercase;
	opacity: 1;
}
.producto h3{
	text-align: center;
	font: normal normal normal 26px/40px Fira Sans;
	letter-spacing: 0px;
	color: #47056F;
	opacity: 1;
}
.producto p{
	text-align: left;
	font: normal normal normal 26px/40px Fira Sans;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	margin-bottom: -20px;
}
.producto h4{
	text-align: center;
	font: normal normal bold 50px/88px Fira Sans;
	letter-spacing: -0.83px;
	color: #FFFFFF;
	opacity: 1;
}

.producto button{
	font-weight: bold;
	font-size: 20px;
	width: 196px;
	height: 55px;	
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 20px #000000B5;
	opacity: 1;
	border-radius: 10px;	
}
.btnProducto:hover{
	transform: scale(1.1);
}
.premium{
    background: linear-gradient(180deg, #04006A,#0600A0,#0800D3);
}
.colorPremium h2{
    color: white;
}
.premium h3{
    color: white;
}
.textoProducto{
	margin-top: 30px;
}

.tituloProducto2{
	width: 470px;
	text-align: center;	
}



/*seccion de formulario*/

.seccionFormulario{
    background-color: #272833;
	background-image: url("../img/seccionCuatro.jpg");
	background-position: center center;
	background-size: cover;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
	min-height: 50vh;
	position: relative;
	text-align: center;
    z-index: 20;
    margin-top: -100px;
}


.tituloFormulario{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 50px/35px var(--unnamed-font-family-fira-sans);
    text-align: center;
    font: normal normal bold 50px/35px Fira Sans;
    letter-spacing: -0.83px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 100px;
}

.formContact{
    width: 40%;
    margin: auto;
	margin-top: 80px;
    display: flex;
    flex-direction: column;
        
}

.contInput{
    display: flex;
    flex-direction: column;
    margin-top:30px;

}

.contInput>input{
    border: none;
    padding: 10px 15px;
    background-color:#FFFFFF;
    border-radius: 10px;
    color: white;
}
.contInput>input:focus{
    box-shadow: 0 0 50px rgb(214, 200, 255);
}

.btnEnviar{
    width: 196px;
    height: 55px;
	margin-top: 40px;
	margin-bottom: 100px;
    align-self: center;
    border:none;
    padding: 15px 20px;
    border-radius: 10px;
    background: transparent linear-gradient(75deg, #FF842B 0%, #FFAA0A 100%) 0% 0% no-repeat padding-box;
    font-size: 20px;
    color: white;
    cursor: pointer;
    background-color:rgb(70, 63, 105) ;
    

}
.btnEnviar:hover{
    transform: scale(1.1);
}

.mensajeAlert{
    color: red;
    margin-top: 5px;
}

.bgcAlert{
    background-color: rgb(240, 87, 87) !important;
}





/*mediaquiery*/
@media (max-width: 1330px) {
    .info {
        width: 30%;
    }

    .info h2 {
        font-size: 40px;
    }
}

@media (max-width: 800px) {
    .menu-nav a {
        display: none;
    }

    .menu {
        margin: 0 80px;
        padding: 25px 0px 15px 0px;
    }

    .video-info {
        margin: 10px 80px 0px 80px;
    }

    .info {
        width: 100%;
    }

    .info h2 {
        width: 100%;
    }

    .ubiBoton1 {
        margin-bottom: 20px;
    }

    .contenedor-carrusel {

        margin: 0 80px;
        padding: 20px 0;
        justify-content: center;
    }

    .tituloVideos {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .tituloVideos h2 {
        font-size: 40px;
    }
    

    .tituloServicio {}

    .textoProducto h2 {
        font-size: 30px;

    }
}

@media (max-width: 800px) {
    .menu {
        margin: 0 10px;
        padding: 25px 0px 15px 0px;
    }

    .video-info {
        margin: 10px 10px;
    }

    .contenedor-carrusel {

        margin: 0 10px;
    }


}